<div style="width: 100%; height: 100%; text-align: center; padding: 80px 0;">
  <h1>GLUTENFREE.Tokyo</h1>
</div>

<p>ジャンル別に探す</p>
<img src="https://imgfp.hotp.jp/IMGH/45/21/P031594521/P031594521_480.jpg" alt="イタリアン" title="イタリアン" width="270" height="300">

<body style="margin: 15px;">
  
<br>

<div style="margin: 15px;">
<a href="#" class="btn btn-warning">イタリアン</a>
<a href="#" class="btn btn-warning">和食</a>
<a href="#" class="btn btn-warning">エスニック・アジア料理</a>
<a href="#" class="btn btn-warning">肉料理</a>
<a href="#" class="btn btn-warning">カフェ</a>
</div>