
  <h3>GLUTENFREE.Tokyoは,<br>東京のグルテングリーレストランに特化した検索サイトです</h3>

  <br>
  
  <div class="row">
    <div class="col-md-6">
      グルテンフリーの父がレストラン探しに困る事が多いので作りました<br><br>
      皆さんの情報を蓄積して楽しくお店選びができますように<br>
      Sign up ページから、事前に会員登録をして頂くと、<br>
      お店の投稿をすることが出来ます！
    </div>
    <div class="col-md-6">
      <%= image_tag 'about.jpg',:size =>'400x300' %>
    </div>
  </div>
  
