<div style="width: 100%; height: 100%; padding: 80px 0;">
  
  <h3>GLUTENFREE.Tokyoは,<br>東京のグルテングリーレストランに特化した検索サイトです</h3>

  <br>

  <p>
    グルテンフリーの父がレストラン探しに困る事が多いので作りました<br>
    皆さんの情報を蓄積して楽しくお店選びができますように
  </p>

  <p>
    Sign up ページから、事前に会員登録をして頂くと、<br>
    お店の投稿をすることが出来ます！
  </p>

</div>